DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=trainpos
DB_USER=ankitjindal
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

GMAIL_EMAIL=
GMAIL_APP_PASSWORD=
RAILRADAR_API_KEY=
